<template name="brandingModal">
    <div id="brandingModal" class="modal modal-fixed-footer" style="width: 90%; height:78%; max-height: 78%">
        <div class="modal-content modal-lightgrey-bg">
            <!-- <h4>Branding Section</h4> -->
                {{#with branding}}
                    <div class="row">
                        {{#if mainImage}}
                            <div class="col s12 m12 l2">
                                <div class="td-imgbox-branding valign-wrapper">
                                    <img src="{{mainImage}}">
                                </div>
                            </div>
                        {{/if}}

                        <div class="col s12 m12 l10">
                           <div class="branding-modal-header">
                                 <h1>{{header}}</h1>
                                 <p>{{body}}</p>
                            </div>
                        </div>
                    </div>
                 {{/with}} 
             <div class="branding-modal-content">
                 <div class="row">
                    {{#if image1}}
                        <div class="col s6 m4 img-section-1">
                            <div class="td-imgbox-branding">
                                <img src="{{image1}}">
                            </div>
                            <div class="branding-modal-link">
                                {{#with imageObj1}}  
                                    <div class="bm-social">
                                        <a href="{{link2}}" target="_blank" class="branding-link block facebook" name="{{link2}}">
                                            <i class="mdi-24px mdi mdi-facebook"></i>
                                        </a> 
                                        <a href="{{link3}}" target="_blank" class="branding-link block instagram" name="{{link3}}">
                                            <i class="mdi-24px mdi mdi-instagram "></i>
                                        </a> 
                                        <a href="{{link4}}" target="_blank" class="branding-link block twitter" name="{{link4}}">
                                            <i class="mdi-24px mdi mdi-twitter  "></i>
                                        </a>
                                    </div>
                                    <div class="branding-btmlinks">
                                        <ul>
                                            <li>
                                                <a href="{{link1}}" target="_blank" class="branding-link" name="{{link1}}">
                                                    <h2>Website</h2>
                                                    <div class="bm-icon website-bg">
                                                        <i class=" mdi mdi-web"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="tel:{{phone}}" class="branding-link block" name="{{phone}}">
                                                    <h2>Call</h2>
                                                    <div class="bm-icon call-bg"> 
                                                        <i class=" mdi mdi-phone-settings"></i>
                                                    </div>     
                                                </a>        
                                            </li>
                                        </ul>
                                    </div>
                                {{/with}}
                            </div>
                        </div>
                    {{/if}}


                    {{#if image2}}
                        <div class="col s6 m4 img-section-2">
                            <div class="td-imgbox-branding">
                                <img src="{{image2}}">
                            </div>
                            <div class="branding-modal-link">
                                {{#with imageObj2}}  
                                    <div class="bm-social">
                                        <a href="{{link2}}" target="_blank" class="branding-link block facebook" name="{{link2}}">
                                            <i class="mdi-24px mdi mdi-facebook"></i>
                                        </a> 
                                        <a href="{{link3}}" target="_blank" class="branding-link block instagram" name="{{link3}}">
                                            <i class="mdi-24px mdi mdi-instagram "></i>
                                        </a> 
                                        <a href="{{link4}}" target="_blank" class="branding-link block twitter" name="{{link4}}">
                                            <i class="mdi-24px mdi mdi-twitter  "></i>
                                        </a>
                                    </div>
                                    <div class="branding-btmlinks">
                                        <ul>
                                            <li>
                                                <a href="{{link1}}" target="_blank" class="branding-link" name="{{link1}}">
                                                    <h2>Website</h2>
                                                    <div class="bm-icon website-bg">
                                                        <i class=" mdi mdi-web"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="tel:{{phone}}" class="branding-link block" name="{{phone}}">
                                                    <h2>Call</h2>
                                                    <div class="bm-icon call-bg"> 
                                                        <i class=" mdi mdi-phone-settings"></i>
                                                    </div>     
                                                </a>        
                                            </li>
                                        </ul>
                                    </div>
                                {{/with}}
                            </div>
                        </div>
                    {{/if}}


                    {{#if image3}}
                        <div class="col s6 m4 img-section-3">
                            <div class="td-imgbox-branding">
                                <img src="{{image3}}">
                            </div>
                            <div class="branding-modal-link">
                                {{#with imageObj3}}  
                                    <div class="bm-social">
                                        <a href="{{link2}}" target="_blank" class="branding-link block facebook" name="{{link2}}">
                                            <i class="mdi-24px mdi mdi-facebook"></i>
                                        </a> 
                                        <a href="{{link3}}" target="_blank" class="branding-link block instagram" name="{{link3}}">
                                            <i class="mdi-24px mdi mdi-instagram "></i>
                                        </a> 
                                        <a href="{{link4}}" target="_blank" class="branding-link block twitter" name="{{link4}}">
                                            <i class="mdi-24px mdi mdi-twitter  "></i>
                                        </a>
                                    </div>
                                    <div class="branding-btmlinks">
                                        <ul>
                                            <li>
                                                <a href="{{link1}}" target="_blank" class="branding-link" name="{{link1}}">
                                                    <h2>Website</h2>
                                                    <div class="bm-icon website-bg">
                                                        <i class=" mdi mdi-web"></i>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="tel:{{phone}}" class="branding-link block" name="{{phone}}">
                                                    <h2>Call</h2>
                                                    <div class="bm-icon call-bg"> 
                                                        <i class=" mdi mdi-phone-settings"></i>
                                                    </div>     
                                                </a>        
                                            </li>
                                        </ul>
                                    </div>
                                {{/with}}
                            </div>
                        </div>
                    {{/if}}
                </div>
             </div>
        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="modal-action modal-close waves-effect waves-green btn-flat">close</button> -->

            <i class="small material-icons modal-action modal-close waves-effect waves-green btn-flat right" title="close">close</i> 
            <button type="button" class="modal-action waves-effect waves-light btn-flat enquiry-btn btn-float-left" id="enquiry">Enquiry</button>
        </div>
    </div>
    {{> enquiryModal}}
</template>
